*,
*::before,
*::after{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
::-moz-selection{
	background-color:var(--amarillo);
	color:#fff;
}
::selection{
	background-color:var(--amarillo);
	color:#fff;
}
::-webkit-input-placeholder{
	color:var(--marron);;
}
:root{
    --morado:#4B0082;
	--naranja:#D35400;
    --blanco:#F5F5F5;
    --negro:#000000;
	--rojo:#DC143C;
	--darkred:#8B0000;
}
html{
	font-size:0.94vw;
	
}
body{
	font-family: "Bebas Neue", sans-serif;
	font-weight: 600;
	font-style: normal;    
	margin:0;
    line-height:1.4;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
	background-color:	#17202A;
	color: var(--negro);
	
}
body.abierto{
	overflow: hidden;
}
a{
	display:inline-block;
}
section{
	position:relative;
}
footer{

}
footer .pie{
	color:var(--blanco);
	background-color:black;
	padding-top: 3rem;
    padding-bottom: 3rem;
	font-size: 2rem;
}
footer .pie a{
	color:var(--blanco);
}
footer .pie .lista-redes{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
footer .pie .lista-redes a{
	margin-left:1rem;
	font-size:2rem;
}
.cabecera{
	transition: all .5s ease;
	padding-top:1rem;
	padding-bottom:1rem;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:999;
	background-color:var(--rojo);


}
.cabecera.fondo{
	box-shadow: 0px 1rem 1rem 0px var(--darkred);

	
}
.cabecera.fondo .link-logo .logo{
	width:12rem;
}
.cabecera .container{
	width: 55%;
	background-color:var(--rojo);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.cabecera .link-logo{
	display:inline-block;
	vertical-align:middle;
}
.cabecera .link-logo .logo{
	width: 19rem;
	height:auto;
	transition: all .5s ease;
	padding: .7rem;
	padding-top: 1rem;
}
.cabecera .menu{
	

}
.cabecera .menu a{
	margin-left:0.5rem;
	margin-right:0.5rem;
	color:var(--blanco);
	font-size:1.5rem;
	font-weight:600;
	text-decoration:none;
	letter-spacing:0.15rem;
	word-spacing:0.3rem;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	line-height:1.4;
}
.cabecera .menu span{
	color:white;
}
.cabecera .menu .seleccionado,
.cabecera .menu a:hover{
	color:black;
}
.cabecera .menu a:first-child{
	margin-left:0;
}
.cabecera .menu a:last-child{
	margin-right:0;
}
.cabecera .hamb{
	font-size:4rem;
	display:none;
}
.container{
	width:85.74%;
	padding:0 1rem;
	margin:0 auto;
}
.container-full{
	width:100%;
	padding:0 1rem;
}
.fila{
	margin-left:-1rem;
	margin-right:-1rem;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.fila.fila-centrada{
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.columna{
	padding-left:1rem;
	padding-right:1rem;
}
.columna-100{
	width:100%;
}
.columna-50{
	width:50%;
}
.columna-41{
	width:41.66%;
}
.columna-33{
	width:33.33%;
}
.columna-25{
	width:22%;
	margin-left: 1rem;
	margin-right: 1.5rem;
}
.columna-16{
	width:16.66%;
}
.columna-8{
	width:8.33%;
}
.empujar-33{
	margin-left:33.33%;
}
.orden{
	-webkit-box-ordinal-group:3;
	-ms-flex-order:2;
	order:2;
}
.sin-padding{
	padding-right:0;
	padding-left:0;
}
.padding-grande{
	padding:4rem;
}

.conteendor-cuadrado{
	width:100%;
	padding-bottom:100%;
	position:relative;
	overflow:hidden;
	cursor:pointer;
	
}
.conteendor-cuadrado.cont-rect{
	padding-bottom:56.25%;
}
.conteendor-cuadrado img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-o-object-fit:cover;
	object-fit:cover;
	-o-object-position:center;
	object-position:center;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	
	
}
.conteendor-cuadrado:hover img{
	-webkit-transform:scale(1.4) rotate(-30deg);
	-ms-transform:scale(1.4) rotate(-30deg);
	transform:scale(1.4) rotate(-30deg);
	opacity:1;
}
.conteendor-cuadrado.cont-rect:hover img{
	-webkit-transform:none;
	-ms-transform:none;
	transform:none;
	-webkit-filter:grayscale(1);
	filter:grayscale(1);
}
.conteendor-cuadrado .contenido-cuadrado{
	position:absolute;
	text-align:center;
	width:100%;
	padding-right:2rem;padding-left:2rem;top:-100%;color:#fff;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.conteendor-cuadrado:hover .contenido-cuadrado{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.conteendor-cuadrado .contenido-cuadrado h2{margin-top:0;}
.mapa{position:relative;padding-bottom:33.33%;width:100%;}
.mapa iframe{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-filter:grayscale(1);filter:grayscale(1);}
.seccion{padding-top:4rem;padding-bottom:4rem;}
.centrar-texto{text-align:center;}
.derecha-texto{text-align:right;}
.inclinar--texto{font-style:italic;}
.justificar-texto{text-align:justify;}
.video-fondo{position:absolute;top:0;left:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;z-index:1;-webkit-filter:grayscale(1);filter:grayscale(1);opacity:0.5;}
.importante{font-style:italic;}
.titulos{color: var(--blanco);padding-top: 12rem;margin-bottom:2.8rem;text-align:center;font-size:3rem;/*text-shadow:1.3rem 1.3rem 0.15rem black;*/position:relative;padding-top:1rem;display:inline-block;padding-right:1rem;padding-left:1rem;}
.btn{padding:0.8rem 2rem;font-size:16px;text-decoration:none;text-align:center;border-radius:15px;border-width:2px;border-style:solid;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.btn-circulo{width:2.8rem;height:2.8rem;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0.3rem;font-size:1.3rem;border-radius:100%;border-width:0.15rem;border-style:solid;text-decoration:none;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.btn-circulo.borde-blanco{color:#fff;border-color:#fff;}
.btn-circulo.borde-blanco:hover{background-color:#fff;color:#824C00;}
.btn.boton-transparente{background-color:transparent;border-color:#FFCA31;color:#FFCA31;}
.btn.boton-transparente:hover{background-color:#FFCA31;border-color:#FFCA31;color:#fff;}
.btn.boton-amarillo{border-color:#fff;background-color:#4B0082;color:var(--blanco);}
.btn.boton-amarillo:hover{border-color:#fff;background-color:var(--naranja);color:var(--blanco);}
.form-bloques{display:block;margin-bottom:1rem;}
.form-bloques .form-input{width:100%;height:3.5rem;padding:0.75rem;border:0.13rem solid #4B0082;color:var(--marron);-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;border-radius:0.75rem;font-size:1.3rem;}
.form-bloques .form-input:focus{outline:0.1rem solid #FFC53D;-webkit-box-shadow:0.1rem 0.1rem 1.3rem 0px #4B0082;box-shadow:0.1rem 0.1rem 1.3rem 0px #4B0082}
.form-bloques textarea.form-input{height:12rem;resize:none;}
.form-bloques.form-bloque-boton{margin-bottom: 0}
.form-bloques.form-bloque-rpta
{
	margin-top: 1rem;
}

.error,.form-bloques .form-input.error
{
	color: red;
}

.form-bloques .form-input.error
{
	border-color: red;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span
{
	background-color: var(--naranja);
}

.owl-theme .owl-dots .owl-dot span
{
	background-color: #fff;
}

.trama
{
	background-color:var(--negro);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}

.trama-2
{
	background-color:var(--negro);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 999;
}

.logo-load
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}

.logo-load img
{
	width: 8rem;
	height: 8rem;
	display: inline-block;
	animation-name: palpitar;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes palpitar
{
	0%{transform: scale(1);opacity: 1;}
	50%{transform: scale(1.5);;opacity: 0.5;}
	100%{transform: scale(1);;opacity: 1;}
}

.cuerpoimagen
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
}

.cuerpoimagen .cerrarimagen
{
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	text-decoration: none;
	padding: 0.5rem;
	color:var(--morado);
	font-size: 2rem;
	z-index: 7;

}
.cuerpoimagen img
{
	height: 100%;
	width: auto;
	object-fit: contain;
	object-position: center;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 6;
		transform: translateX(-50%);
}

.titulo-acordion
{
	padding: 1rem;
	padding-right: 4rem;
	position: relative;
	margin-top: 0.5rem;
	background-color: var(--amarillo);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	cursor: pointer;
	margin-bottom: 0;
}

.titulo-acordion:first-child
{
	margin-top: 0;
}

.titulo-acordion i
{
	position: absolute;
	font-size: 2rem;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.cuerpo-acordion
{
	padding: 2rem 1rem;
	display: none;
	border: 0.1rem solid var(--amarillo);
}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-1.5rem;margin-left:-1.5rem;}
.row-centrada{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.row-derecha{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
.row-extremos{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}


#respuesta
{
	font-size: 1.5rem;
}
#libros{
	
	background-position:center bottom;
	background-repeat:no-repeat;
	font-family: "Edu NSW ACT Foundation", cursive;
}
#libros .titulos{
	color:var(--blanco);
	

}
#libros .titulos::before,
#libros .nombre{
	color:var(--naranja);
}
#libros .contenedor-serv{
	text-align:center;
	background-color:var(--morado);padding:2.8rem 2rem;
	height:25rem;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	border-radius: 1rem;
}
#libros .contenedor-serv:hover{
	-webkit-box-shadow:0.13rem 0.13rem 1.3rem 0px black;
	box-shadow:0.20rem 0.20rem 0.20rem 0px black;
}
#libros .conteendor-cuadrado:hover img{
	-webkit-transform:scale(1.4) rotate(-30deg);
	-ms-transform:scale(1.4) rotate(-30deg);
	transform:scale(1.4);
	opacity:0.75;
	
}
#libros p{
	font-family: "Dancing Script", cursive;
	font-size: 1.5rem;
	color:var(--blanco);
}
#historia{
	font-family: "Edu NSW ACT Foundation", cursive;
	
	
}
#historia .titulos{
	color:var(--blanco);
	
}

#historia .columna-historia{}
#historia .columna-historia .contenedor-historia-imagen{position:relative;width:100%;height: auto; padding-bottom:56.25%}
#historia .columna-historia .contenedor-historia-imagen img{-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;position:absolute;top:0;left:0;padding-top: 5rem; width:100%;}
#historia .columna-historia-info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
#historia .columna-historia-info h2{color:	#B8860B;margin-top:1rem;font-size:3rem;font-style:italic;}
#historia .columna-historia-info p{font-style:italic;font-size:1.5rem;margin:0;margin-top: 1rem; color: var(--blanco);}
#contacto{ 
	font-family: "Edu NSW ACT Foundation", cursive;
	
}
#contacto .columna-info-contacto{ font-family: "Edu NSW ACT Foundation", cursive;font-size: 2rem; font-style:italic;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; margin-bottom: 7rem;
margin-top: -5rem;}
#contacto .columna-info-contacto p{ font-family: "Edu NSW ACT Foundation", cursive;margin-top: 0; color: var(--blanco);}
#contacto .columna-info-contacto h2{font-size: 4rem; color:	#B8860B;}
#contacto .columna-info-contacto .telefono{
	font-family: "Edu NSW ACT Foundation", cursive; text-decoration: none; color:var(--blanco);
}
#contacto .columna-info-contacto .email{ font-family: "Edu NSW ACT Foundation", cursive;color:var(--blanco);font-size:2.3rem;text-decoration:none;margin-bottom:1rem;display:inline-block;margin-top:0;}
#contacto .columna-info-contacto .email{margin-bottom:0;}

#noticias{ font-family: "Edu NSW ACT Foundation", cursive;}

#noticias .row-centrada{margin:0; }
#noticias .titulos{
	color:var(--blanco);
	padding-top: 6rem;

}
#noticias .bloque-carrusel{padding-top:3rem;padding-bottom:3rem;padding-left:10rem;padding-right:10rem;position:relative;/*-webkit-box-shadow:0px 8px 15px -4px rgba(179,179,179,50%);box-shadow:0px 8px 15px -4px rgba(179,179,179,50%)*/}
#noticias .fila-reco{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;margin-bottom:2rem;-ms-flex-wrap:wrap;flex-wrap:wrap;}
#noticias .fila-reco:nth-last-child{margin-bottom:0;}
#noticias .fila-reco:last-child:before,
#noticias .fila-reco:last-child:after{display:none;}
#noticias .columna-imagen-reco{width:35%;}
#noticias .columna-imagen-reco img{width:100%; border-radius: 1rem;}
#noticias .columna-texto-reco{width:50%;padding-left:12rem;}
#noticias .columna-texto-reco:before{content:"";width:1rem;height:1rem;background-color:var(--morado);position:absolute;bottom:0;right:0;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%);border-radius:100%;}
#noticias .fila-reco:last-child .columna-texto-reco:before{display:none;}
#noticias .columna-texto-reco h4{font-size:2rem;margin:0;line-height:1;color:var(--rojo);}
#noticias .columna-texto-reco p{color:var(--blanco);margin-top:1rem;font-size:1.5rem;}
#noticias .columna-texto-reco p span{display:block;}
#noticias .columna-texto-reco p:last-child{margin-bottom:0;}
#noticias .owl-theme .owl-dots .owl-dot span{background-color:transparent;border:0.3rem solid var(--blanco);}
#noticias .owl-theme .owl-dots .owl-dot.active span,
#noticias .owl-theme .owl-dots .owl-dot:hover span{background:var(--blanco);border:0.3rem solid var(--blanco);}
#noticias .item-anterior{position:absolute;left:2rem;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:3rem;color:var(--rojo);z-index:2;}
#noticias .item-siguiente{position:absolute;right:2rem;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:3rem;color:var(--rojo);z-index:2;}

#arte{ font-family: "Edu NSW ACT Foundation", cursive;}

#arte .row-centrada{margin:0; }
#arte .titulos{
	color:var(--blanco);
	margin-top: 6rem;

}
#arte .bloque-carrusel{padding-top:3rem;padding-bottom:3rem;padding-left:10rem;padding-right:10rem;position:relative;/*-webkit-box-shadow:0px 8px 15px -4px rgba(179,179,179,50%);box-shadow:0px 8px 15px -4px rgba(179,179,179,50%)*/}
#arte .fila-reco{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;margin-bottom:2rem;-ms-flex-wrap:wrap;flex-wrap:wrap;}
#arte .fila-reco:nth-last-child{margin-bottom:0;}
#arte .fila-reco:last-child:before,
#arte .fila-reco:last-child:after{display:none;}
#arte .columna-imagen-reco{width:35%;}
#arte .columna-imagen-reco img{width:100%; border-radius: 1rem;}
#arte .columna-texto-reco{width:50%;padding-left:12rem;}
#arte .columna-texto-reco:before{content:"";width:1rem;height:1rem;background-color:var(--morado);position:absolute;bottom:0;right:0;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%);border-radius:100%;}
#arte .fila-reco:last-child .columna-texto-reco:before{display:none;}
#arte .columna-texto-reco h4{font-size:2rem;margin:0;line-height:1;color:var(--rojo);}
#arte .columna-texto-reco p{color:var(--blanco);margin-top:1rem;font-size:1.5rem;}
#arte .columna-texto-reco p span{display:block;}
#arte .columna-texto-reco p:last-child{margin-bottom:0;}
#arte .owl-theme .owl-dots .owl-dot span{background-color:transparent;border:0.3rem solid var(--blanco);}
#arte .owl-theme .owl-dots .owl-dot.active span,
#arte .owl-theme .owl-dots .owl-dot:hover span{background:var(--blanco);border:0.3rem solid var(--blanco);}
#arte .item-anterior{position:absolute;left:2rem;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:3rem;color:var(--rojo);z-index:2;}
#arte .item-siguiente{position:absolute;right:2rem;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:3rem;color:var(--rojo);z-index:2;}


@media (min-width:1200px){}
@media (max-width:1199px){
	html{font-size:3vw;}
	footer .prefooter{bottom:-2.8rem;}
	footer .pie{text-align:center;padding-top: 3.8rem}
	footer .pie .lista-redes{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:1rem;}
	footer .pie .lista-redes a{margin-left:1rem;margin-right:1rem;font-size:1.5rem;}
	.container{width:100%;}
	.columna-mb-100{width:100%;}
	.columna-mb-50{width:50%;}
	.columna-mb-41{width:41.66%;}
	.columna-mb-33{width:33.33%;}
	.columna-mb-25{width:25%;}
	.columna-mb-16{width:16.66%;}
	.columna-mb-8{width:8.33%;}
	.empujar-mb-0{margin-left:0;}
	.orden{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0;}
	.titulos{font-size:4rem;}
	.cabecera{
		width: 100%;
		height: 5%;
		margin-top: 0;
		padding-top: 0;
	}
	.cabecera .link-logo {
	  position: relative;
	  z-index: 2;
	}
	.cabecera.fondo .link-logo .logo{
		width:8rem;
	}
	.cabecera .link-logo .logo{width:10rem;height:auto;}
	.cabecera .container{
		width: 100%;
		background-color:var(--rojo);
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content:space-between;
	}
		
	.cabecera .hamb{
		color: var(--blanco); 
		display:block; 
		position: relative;
		z-index: 2;
		font-size: 4rem;
	}
	.cabecera .menu{
		padding-right: 1rem;
		padding-left: 1rem;
		transition: all .5s ease;
		transform: translateX(100%);
		position:fixed;
		top:0;left:0;width:100%;background-color: var(--rojo);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index: 1;}
	.cabecera .menu.abierto{
		transform: translateX(0);
		height: 100%;
	}
	.cabecera .menu a
	{
		margin: 1rem 0;
		font-size: 2rem;
	}
	.seccion{padding-bottom:2.8rem;padding-top:2.8rem;}
	.conteendor-cuadrado .contenido-cuadrado{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
	.mapa{padding-bottom:100%;}
	.padding-grande{padding:2rem;}
	.form-bloques .form-input{font-size:1.4rem;}
	.form-bloques.form-bloque-boton .btn{width:100%;font-size:1.4rem;}

	#historia .columna-historia .contenedor-historia-imagen img{
		padding-top: 0rem;
	}
	#historia .columna-historia-info{display:block;}
	#historia .columna-historia-info h2{margin-top:10rem;}
	#historia .columna-historia-info p{font-size:1rem;margin-top: 1rem;}
	#historia .columna-historia-info.derecha-texto{text-align:left;}
	#contacto .columna-info-contacto.derecha-texto{text-align:left;}
	#contacto .columna-info-contacto h2,
	#contacto .columna-info-contacto .telefono,
	#contacto .columna-info-contacto .email{font-size:1.4rem;}
	#contacto .columna-info-contacto .email{margin-bottom:2rem;}
	#noticias{padding-top:2.5rem;padding-bottom:2.5rem;}
	#noticias .item-siguiente,
	#noticias .item-anterior{font-size:2rem;top:10rem;}
	#noticias .item-siguiente{right:0.5rem;}
	#noticias .item-anterior{left:0.5rem;}
	#noticias .bloque-carrusel{padding-top:2.5rem;padding-bottom:2.5rem;padding-left:1.5rem;padding-right:1.5rem;}
	#noticias .fila-reco:after{height:0.5rem;}
	#noticias .fila-reco:before{height:0.1rem;}
	#noticias .columna-imagen-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;}
	#noticias .columna-imagen-reco img{width:90%;margin:0 auto;}
	#noticias .columna-texto-reco h4{font-size:1.9rem;text-align: center;}
	#noticias .columna-texto-reco p{font-size:1.5rem;text-align: center;}
	#noticias .columna-texto-reco p span{display:inline-block;}
	#noticias .columna-texto-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;padding-bottom:1.5rem;min-height:7.5rem;}
	#noticias .columna-texto-reco:before{width:0.5rem;height:0.5rem;}
	#noticias .owl-theme .owl-dots .owl-dot span{border:2px solid #4B0082;}

	#arte{padding-top:2.5rem;padding-bottom:2.5rem;}
	#arte .item-siguiente,
	#arte .item-anterior{font-size:2rem;top:10rem;}
	#arte .item-siguiente{right:0.5rem;}
	#arte .item-anterior{left:0.5rem;}
	#arte .bloque-carrusel{padding-top:2.5rem;padding-bottom:2.5rem;padding-left:1.5rem;padding-right:1.5rem;}
	#arte .fila-reco:after{height:0.5rem;}
	#arte .fila-reco:before{height:0.1rem;}
	#arte .columna-imagen-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;}
	#arte .columna-imagen-reco img{width:90%;margin:0 auto;}
	#arte .columna-texto-reco h4{font-size:1.9rem;text-align: center;}
	#arte .columna-texto-reco p{font-size:1.5rem;text-align: center;}
	#arte .columna-texto-reco p span{display:inline-block;}
	#arte .columna-texto-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;padding-bottom:1.5rem;min-height:7.5rem;}
	#arte .columna-texto-reco:before{width:0.5rem;height:0.5rem;}
	#arte .owl-theme .owl-dots .owl-dot span{border:2px solid #4B0082;}

	.cuerpoimagen img
	{
		height: auto;
		width: 100%;
		position: fixed;
		top: 50%;
		left:0;
		z-index: 6;
		transform: translateY(-50%);
	}
	

}
@media(max-width:991px){
	html{font-size:2vw;}
	footer .prefooter{bottom:-2.8rem;}
	footer .pie{text-align:center;padding-top: 3.8rem}
	footer .pie .lista-redes{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:1rem;}
	footer .pie .lista-redes a{margin-left:1rem;margin-right:1rem;font-size:1.5rem;}
	.container{width:100%;}
	.columna-mb-100{width:100%;}
	.columna-mb-50{width:50%;}
	.columna-mb-41{width:41.66%;}
	.columna-mb-33{width:33.33%;}
	.columna-mb-25{width:25%;}
	.columna-mb-16{width:16.66%;}
	.columna-mb-8{width:8.33%;}
	.empujar-mb-0{margin-left:0;}
	.orden{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0;}
	.titulos{font-size:4rem;}
	.cabecera{
		width: 100%;
		height: 5%;
		margin-top: 0;
		padding-top: 0;
	}
	.cabecera .link-logo {
	  position: relative;
	  z-index: 2;
	}
	.cabecera.fondo .link-logo .logo{
		width:7rem;
	}
	.cabecera .link-logo .logo{width:10rem;height:auto;}
	.cabecera .container{
		width: 100%;
		background-color:var(--rojo);
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content:space-between;
	}
		
	.cabecera .hamb{
		color: var(--blanco); 
		display:block; 
		position: relative;
		z-index: 2;
		font-size: 4rem;
	}
	.cabecera .menu{
		padding-right: 1rem;
		padding-left: 1rem;
		transition: all .5s ease;
		transform: translateX(100%);
		position:fixed;
		top:0;left:0;width:100%;background-color: var(--rojo);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index: 1;}
	.cabecera .menu.abierto{transform: translateX(0);height: 100%;}
	.cabecera .menu a
	{
		margin: 1rem 0;
		font-size: 2rem;
	}
	.seccion{padding-bottom:2.8rem;padding-top:2.8rem;}
	.conteendor-cuadrado .contenido-cuadrado{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
	.mapa{padding-bottom:100%;}
	.padding-grande{padding:2rem;}
	.form-bloques .form-input{font-size:1.4rem;}
	.form-bloques.form-bloque-boton .btn{width:100%;font-size:1.4rem;}

	#historia .columna-historia .contenedor-historia-imagen img{
		padding-top: 0rem;
	}
	#historia .columna-historia-info{display:block;}
	#historia .columna-historia-info h2{margin-top:10rem;}
	#historia .columna-historia-info p{font-size:1rem;
	margin-top: 1rem;}
	#historia .columna-historia-info.derecha-texto{text-align:left;}
	#contacto .columna-info-contacto.derecha-texto{text-align:left;}
	#contacto .columna-info-contacto h2,
	#contacto .columna-info-contacto .telefono,
	#contacto .columna-info-contacto .email{font-size:1.4rem;}
	#contacto .columna-info-contacto .email{margin-bottom:2rem;}
	#noticias{padding-top:2.5rem;padding-bottom:2.5rem;}
	#noticias .item-siguiente,
	#noticias .item-anterior{font-size:2rem;top:10rem;}
	#noticias .item-siguiente{right:0.5rem;}
	#noticias .item-anterior{left:0.5rem;}
	#noticias .bloque-carrusel{padding-top:2.5rem;padding-bottom:2.5rem;padding-left:1.5rem;padding-right:1.5rem;}
	#noticias .fila-reco:after{height:0.5rem;}
	#noticias .fila-reco:before{height:0.1rem;}
	#noticias .columna-imagen-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;}
	#noticias .columna-imagen-reco img{width:90%;margin:0 auto;}
	#noticias .columna-texto-reco h4{font-size:1.9rem;text-align: center;}
	#noticias .columna-texto-reco p{font-size:1.5rem;text-align: center;}
	#noticias .columna-texto-reco p span{display:inline-block;}
	#noticias .columna-texto-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;padding-bottom:1.5rem;min-height:7.5rem;}
	#noticias .columna-texto-reco:before{width:0.5rem;height:0.5rem;}
	#noticias .owl-theme .owl-dots .owl-dot span{border:2px solid #4B0082;}

	#arte{padding-top:2.5rem;padding-bottom:2.5rem;}
	#arte .item-siguiente,
	#arte .item-anterior{font-size:2rem;top:10rem;}
	#arte .item-siguiente{right:0.5rem;}
	#arte .item-anterior{left:0.5rem;}
	#arte .bloque-carrusel{padding-top:2.5rem;padding-bottom:2.5rem;padding-left:1.5rem;padding-right:1.5rem;}
	#arte .fila-reco:after{height:0.5rem;}
	#arte .fila-reco:before{height:0.1rem;}
	#arte .columna-imagen-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;}
	#arte .columna-imagen-reco img{width:90%;margin:0 auto;}
	#arte .columna-texto-reco h4{font-size:1.9rem;text-align: center;}
	#arte .columna-texto-reco p{font-size:1.5rem;text-align: center;}
	#arte .columna-texto-reco p span{display:inline-block;}
	#arte .columna-texto-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;padding-bottom:1.5rem;min-height:7.5rem;}
	#arte .columna-texto-reco:before{width:0.5rem;height:0.5rem;}
	#arte .owl-theme .owl-dots .owl-dot span{border:2px solid #4B0082;}

	.cuerpoimagen img
	{
		height: auto;
		width: 100%;
		position: fixed;
		top: 50%;
		left:0;
		z-index: 6;
		transform: translateY(-50%);
	}

	
	

		
}


@media (max-width:767px){
	html{font-size:2.5vw;}
	footer .prefooter{bottom:-2.8rem;}
	footer .pie{text-align:center;padding-top: 3.8rem}
	footer .pie .lista-redes{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:1rem;}
	footer .pie .lista-redes a{margin-left:1rem;margin-right:1rem;font-size:1.5rem;}
	.container{width:100%;}
	.columna-mb-100{width:100%;}
	.columna-mb-50{width:50%;}
	.columna-mb-41{width:41.66%;}
	.columna-mb-33{width:33.33%;}
	.columna-mb-25{width:25%;}
	.columna-mb-16{width:16.66%;}
	.columna-mb-8{width:8.33%;}
	.empujar-mb-0{margin-left:0;}
	.orden{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0;}
	.titulos{font-size:4rem;}
	.cabecera .link-logo {
	  position: relative;
	  z-index: 2;
	}
	.cabecera.fondo .link-logo .logo{
		width:7rem;
	}
	.cabecera .link-logo .logo{width:10rem;height:auto;}
	.cabecera .container{
		width: 100%;
		background-color:var(--rojo);
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align:center;
		-ms-flex-align:center;
		align-items:center;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		justify-content:space-between;
	}
		
	.cabecera .hamb{color: var(--blanco); display:block; position: relative;z-index: 2}
	.cabecera .menu{padding-right: 1rem;padding-left: 1rem;transition: all .5s ease;transform: translateX(100%);position:fixed;top:0;left:0;width:100%;height:100%;background-color: var(--rojo);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;z-index: 1;}
	.cabecera .menu.abierto{transform: translateX(0);height: 100%;}
	.cabecera .menu a
	{
		margin: 1rem 0;
		font-size: 2rem;
	}
	.seccion{padding-bottom:2.8rem;padding-top:2.8rem;}
	.conteendor-cuadrado .contenido-cuadrado{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
	.mapa{padding-bottom:100%;}
	.padding-grande{padding:2rem;}
	.form-bloques .form-input{font-size:1.4rem;}
	.form-bloques.form-bloque-boton .btn{width:100%;font-size:1.4rem;}

	#historia .columna-historia .contenedor-historia-imagen img{
		padding-top: 0rem;
	}
	#historia .columna-historia-info{display:block;}
	#historia .columna-historia-info h2{margin-top:10rem;}
	#historia .columna-historia-info p{font-size:1rem;margin-top: 1rem;}
	#historia .columna-historia-info.derecha-texto{text-align:left;}
	#contacto .columna-info-contacto.derecha-texto{text-align:left;}
	#contacto .columna-info-contacto h2,
	#contacto .columna-info-contacto .telefono,
	#contacto .columna-info-contacto .email{font-size:1.4rem;}
	#contacto .columna-info-contacto .email{margin-bottom:2rem;}
	#noticias{padding-top:2.5rem;padding-bottom:2.5rem;}
	#noticias .item-siguiente,
	#noticias .item-anterior{font-size:2rem;top:10rem;}
	#noticias .item-siguiente{right:0.5rem;}
	#noticias .item-anterior{left:0.5rem;}
	#noticias .bloque-carrusel{padding-top:2.5rem;padding-bottom:2.5rem;padding-left:1.5rem;padding-right:1.5rem;}
	#noticias .fila-reco:after{height:0.5rem;}
	#noticias .fila-reco:before{height:0.1rem;}
	#noticias .columna-imagen-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;}
	#noticias .columna-imagen-reco img{width:90%;margin:0 auto;}
	#noticias .columna-texto-reco h4{font-size:1.9rem;text-align: center;}
	#noticias .columna-texto-reco p{font-size:1.5rem;text-align: center;}
	#noticias .columna-texto-reco p span{display:inline-block;}
	#noticias .columna-texto-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;padding-bottom:1.5rem;min-height:7.5rem;}
	#noticias .columna-texto-reco:before{width:0.5rem;height:0.5rem;}
	#noticias .owl-theme .owl-dots .owl-dot span{border:2px solid #4B0082;}

	#arte{padding-top:2.5rem;padding-bottom:2.5rem;}
	#arte .item-siguiente,
	#arte .item-anterior{font-size:2rem;top:10rem;}
	#arte .item-siguiente{right:0.5rem;}
	#arte .item-anterior{left:0.5rem;}
	#arte .bloque-carrusel{padding-top:2.5rem;padding-bottom:2.5rem;padding-left:1.5rem;padding-right:1.5rem;}
	#arte .fila-reco:after{height:0.5rem;}
	#arte .fila-reco:before{height:0.1rem;}
	#arte .columna-imagen-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;}
	#arte .columna-imagen-reco img{width:90%;margin:0 auto;}
	#arte .columna-texto-reco h4{font-size:1.9rem;text-align: center;}
	#arte .columna-texto-reco p{font-size:1.5rem;text-align: center;}
	#arte .columna-texto-reco p span{display:inline-block;}
	#arte .columna-texto-reco{width:100%;padding-left:2.5rem;padding-right:2.5rem;padding-bottom:1.5rem;min-height:7.5rem;}
	#arte .columna-texto-reco:before{width:0.5rem;height:0.5rem;}
	#arte .owl-theme .owl-dots .owl-dot span{border:2px solid #4B0082;}

	.cuerpoimagen img
	{
		height: auto;
		width: 100%;
		position: fixed;
		top: 50%;
		left:0;
		z-index: 6;
		transform: translateY(-50%);
	}


}